@import "theme";

.container {
    display: flex;
    justify-content: center;

    .box {
        border-radius: 0.25rem;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0.1rem;
    }
    
    .color-box-text {
        display: block;
        width: 100%;
        height: 20%;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: lightgrey;
    }

    $baseIndex: 1;
    @each $mycolor in $colors {
        .base-color-#{$baseIndex} {
            background-color: $mycolor;
            width: 150px;
        }
        @for $i from 1 through 4 { 
            .darken-#{$baseIndex}-#{$i} {
                background-color: darken($color: $mycolor, $amount: $i * 8%);
            }
            .lighten-#{$baseIndex}-#{$i} {
                background-color: lighten($color: $mycolor, $amount: $i * 8%);
            }        
        }
        $baseIndex: $baseIndex+1;
    }
}