.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.container {
    display: flex;
    flex-direction: column;
}

.box {
    border: 1px solid rgb(184, 180, 180);
    width: 5rem;
    height: 5rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.space {
    padding-top: 0.5rem;

}